<div class = "container">
  <% if @track.errors.any? %>
    <ul class="alert-warning">
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <h2 class="heading"><%= @action %> Track: </h2>
  <form method="post" action="/tracks" role="form">
    <div class = "form-group">
      <label>Title:</label>
      <input type= "text" name="title" value = "<%= @track.title %>">
    </div>
    <div class="form-group"> 
      <label >Artist:</label>
      <input type = "text" name = "author" value = "<%= @track.author %>">
    </div>
    <div class="form-group">
      <label>URL:</label>
      <input type = "text" name = "url" value = "<%= @track.url %>">
    </div>
    <div class="form-group">
      <input type = "hidden" name = "id" value ="<%= @track.id %>">
    </div>
    <div class="form-group">
      <input type="submit" value = "Submit" class="btn btn-default">
    </div>
  </form>
  <div class = "form-group">
    <a href = "/tracks/index">Back to listing </a>
  </div>
</div>